.quorus-section {
  display: flex;
  width: 90%;
  gap: 0.5em;
  height: 37vh;
  /* min-height: 35vh; */
  justify-content: center;
  align-items: center;
  

}

.mySwiper {
  padding: 10%;
}
.swiper-pagination-progressbar-fill {
  background: orange;
}

.swiper-pagination-bullet {
  background: var(--orange-primary);
}
.swiper {
  height: 100%;
}
