.right-container {
  display: flex;
  flex-direction: column;
  width: 28%;
  padding: 1em;
  outline: 2px solid rgb(37, 36, 36);
  justify-content: space-between ;
  gap: 1rem;
  /* hello? baby how do you do? */
 
}

