

.avatar-text {
  display: flex;
  gap: 1em;
}

.trend-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  padding: 0.3em 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}
.trend-section:hover {
  background-color: var(--brown-secondary);
}
.text-section {
  font-size: var(--xs);
}
.text {
  color: var(--white-primary);
}
.singerName {
  color: var(--white-secondary);
}

.iconSection {
  display: flex;
  gap: 0.5em;
}
