 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
 *{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
 
 

}
body {
  height: 100%;
  background-color: #171a21;
  color: white;
  font-family: 'Poppins', sans-serif;
}

:root {
  --orange-primary: #fe6d1c;
  --orange-secondary: #d9683b;
  
  --brown-secondary: #332421;
  --blue-primary: #171a21;
  --white-primary: #f7f7f7;
  --white-secondary : rgb(201, 198, 198);
  --white-secondary : rgb(167, 161, 161);
  --xs : 0.8em;
  --sm : 1em;
  --md : 1.2em;
  --lg : 1.5em;
}

