.btn-style {
  padding: 0.8em;
  color: white;
  
  border-radius: 7px;
  background-color: var(--orange-primary);
  cursor: pointer;
  font-size: var(--md);
}
.btn-style:hover {
  background-color: var(--orange-secondary);
}
.button-div{
  
 padding: 0.5em;
}
